

.tamanhoLogo {
    width: 8rem;
}

.sidenav {
    width: fit-content;
}

.option {
    width: 2rem;
}

@keyframes show {
    from{transform: translateY(-10cqw);}
    to{transform: translateY(0cqw);}
}
@keyframes hide {
    from{transform: translateY(0cqw);}
    to{transform: translateY(-10cqw);}
}

/* .float-animation-right {
    position: relative;
    animation-fill-mode: forwards;
    animation-duration: 100ms;
} */

#modalId .modal-content{
    animation-fill-mode: forwards;
    animation-duration: 100ms;
}

/* #modalId[aria-modal="true"] .modal-content{
    animation-name: show;
}

#modalId[aria-modal="false"]{
    opacity: 0.5;
    display:block;
    
} */