* {
    --cor-primaria:         #C5E677;
    --cor-secundaria:       #8EE687;
    --cor-detalhe:          #BDFFCA;
    --cor-terciario:        #8EE687;
    --cor-quartenario:      #FAF989;
}

.bg-primaria {
    background-color: var(--cor-primaria);
}

.bg-secundaria {
    background-color: var(--cor-secundaria);
}

.bg-detalhe {
    background-color: var(--cor-detalhe);
}