
body {
    display: flex;
    flex-direction: column;
}

/* Pádinga */
#page {
    flex-grow: 1;
}

/* Imagem de Bem vindo */
#img_bemvindo {
    height: 12rem;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

/* Div com os itens mais pesquisados */
#MaisPesq{
    background-color: #4c6b54;
    color: white;
    font-size: 1.8rem;
    border-radius: 10px;
}

/* div com as colunas das imagens dos mais pesquisados */
#img_maisPesquisado{
    height: min-content;
}

/* isso daqui são as div's que são colunas, onde as imagens realmente estão */
#img_maisPesquisado div.col {
    height: min-content;
    width: min-content;
    padding: 4px;
    justify-content: start;
    margin: 4px;

}

/* Agora sim, ajustando a imagem */
#img_maisPesquisado div.col img{
    width: 100%;
    border-radius: 5px;
}

footer {
    position: relative;
    bottom: 10px;
}